### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Compiled Java class files
*.class

# Log files
*.log
*.jfr

# IDE specific files
*.iml

# Build output
bin/

# Duplicate Jars in src
src/miglayout-4.0.jar
src/TimingFramework-0.55.jar
src/model/flatlaf-demo-3.6.jar